<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- This partial debug manifest is merged into the main application manifest. -->
    <application tools:ignore="MissingApplicationIcon">
        <!-- Supplied by a debug-only Gradle property; defaults to Google's sample App ID. -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="${admobAppId}" />
    </application>
</manifest>
